@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/namik.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;

}


#game-area {
    width: 100%;
    max-width: 800px;
    height: 600px;
    position: relative;
    background-color: #000;


    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #fff;
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
}


#score-board {
    position: absolute;
    top: 10px;
    left: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 10;
}


#start-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
    color: white;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 20;
}

#paddle {
    width: 130px;
    height: 20px;
    background-color: #0f0;
    position: absolute;
    bottom: 20px;

    border-radius: 10px;

    background-image: url('../images/paddle.png');


    background-size: 100% 100%;
    background-color: transparent;
    z-index: 1;
}


#ball {
    width: 21px;
    height: 21px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    background-image: url('../images/ball.png');
    background-size: 100% 100%;
    box-shadow: 0 0 10px #ffcc00, 0 0 25px #ff6600;

    z-index: 3;
}


#bricks-container {
    position: relative;
    width: 100%;
    height: 100%;
}


.brick {
    position: absolute;
  
    border: 2px solid #000000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0;
    background-image: url('../images/brick.png');
    background-size: 100% 100%;
    border-radius: 5px;
}

#lives {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 24px;
    z-index: 10;
    display: flex; 
    align-items: center;
}

#timer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 10;
}


@media (max-width: 600px) {
  
    #score-board {
        font-size: 16px;
        top: 5px;
        left: 10px;
    }

 
    #timer {
        font-size: 16px;
     
    }

 
    #lives {
        top: 5px;
        right: 10px;
       
        transform: scale(0.7); 
        transform-origin: right top; 
    }

    #start-message {
        width: 80%; 
        font-size: 18px;
        padding: 10px;
    }
}